<!DOCTYPE html>
<html>
	<head>
		<title>Smart Ward</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="/css/jquery.mobile-1.2.0.min.css" rel="stylesheet" type="text/css">
		<script src="/js/jquery.min.js" type="text/javascript"></script>
		<script src="/js/jquery.mobile-1.2.0.min.js" type="text/javascript"></script>

		<% if (user_only) { %>
			<script src="/socket.io/socket.io.js" type="text/javascript"></script>
			<script type="text/javascript">
				var socket;
				$(document).on('ready', function() {
					socket = io.connect('http://localhost:3000');

					socket.on('connect', function () {

					});

					socket.on('task_assigned', function(data) {
						displayMsg(data.task_id);
					});

					socket.on('disconnect', function () {

					});
				});

				$('#btn_task_assigned_to_user_dismiss').die('click').live('click', function(e){
					$('#pop_task_assigned_to_user').popup('close');
				});

				function displayMsg(task_id) {
					var dlg = $(
						"<div data-role='popup' id='pop_task_assigned_to_user' data-transition='pop' data-theme='c' data-overlay-theme='a'>"+
						"	<div data-role='content' data-theme='d'>"+
						"		<h3 class='ui-title'>New task assigned to you</h3>"+
						"		<p>Do you want to display it?</p>"+
						"		<button id='btn_task_assigned_to_user_dismiss' data-role='button' data-inline='true' data-theme='c'>Dismiss</button>"+
						"		<a href='/tasks/view/"+task_id+"' data-transition='pop' id='btn_task_assigned_to_user_ok' data-role='button' data-inline='true' data-theme='a'>Ok</a>"+
						"	</div>"+
						"</div>"
					)
					.appendTo($("body"))
					.trigger("create")
					.page() // Careful! This triggers a pagecreate event
					.removeClass("ui-page")
					.popup()
					.show()
					.one("closed", function() {
						dlg
							.popup("destroy")
							.remove();
					})
					.popup("open");
				}

			</script>
		<% } %>
	</head>
	<body>
