<% include ../../header %>

<div data-role="page" id="page_admin_wards_add">
	<div data-role="header" data-position="fixed" data-id="admin_header_panel">
		<h1>Add New Ward</h1>
	</div>
	<div data-role="content">
		<script type="text/javascript">
			$('#page_admin_wards_add').bind('pagecreate', function(){
				$("#add_ward_form").die('submit').live('submit', function(e){
					var $this = $(this);
					e.preventDefault();
					$.post($this.attr('action'), $this.serialize(), function(res){
						if (res.status != 0){
							$pop = $('#pop_wards_admin_add');
							$pop.text('');
							$.each(res.errors, function(key, value){
								$pop.append(value.message + '<br>');
							});

							$pop.popup('open');
						} else {
							$.mobile.changePage('/admin/wards', {transition: 'slide', reverse: true, reloadPage: true});
						}
					});
				});
			});
		</script>
		<div data-role="popup" id="pop_wards_admin_add" class="ui-content" data-transition="pop" data-theme="e" data-overlay-theme="a"></div>
		<form id="add_ward_form" action="/admin/wards/add" method="post" data-ajax="false">
			<label for="ward_name">Ward Name:</label>
			<input type="text" name="ward_name" id="ward_name" value="<%- locals.ward_name ? locals.ward_name : '' %>">
			<br>
			<label for="ward_description">Ward Description:</label>
			<textarea style="height:100px;" name="ward_description" id="ward_description"><%- locals.ward_description ? locals.ward_description : '' %></textarea>
			<br>
			<input type="submit" value="Add" data-transition="pop" data-theme="b" data-icon="plus">
		</form>
	</div>
	<div data-role="footer" data-position="fixed" data-id="admin_footer_panel">
		<div data-role="navbar">
			<ul>
				<li><a href="/admin" data-transition="slide" data-direction="reverse">Index</a></li>
				<li><a href="/admin/users" data-transition="slide" data-direction="reverse">Users</a></li>
				<li><a href="/admin/wards"class="ui-btn-active ui-state-persist" data-transition="slide" data-direction="reverse">Wards</a></li>
			</ul>
		</div>
	</div>
</div>

<% include ../../footer %>
