<% include ../../header %>

<div data-role="page" id="page_admin_wards_index">
	<div data-role="header" data-position="fixed" data-id="admin_header_panel">
		<h1>Wards</h1>
	</div>
	<div data-role="content">
		<h3 style="margin: 0px auto;text-align:center;">Select a Ward</h3>
		<br>
		<ul data-role="listview" data-inset="true">
			<% for (var w in wards) { %>
				<li>
					<a href="/admin/wards/view/<%= wards[w].id %>" data-transition="slide">
						<h3><%= wards[w].name %></h3>
						<p><strong><%= wards[w].description %></strong></p>
						<span class="ui-li-aside">
							<span style="color:#ff9900;" class="ui-li-count"><%= wards[w].beds.length %></span>
						</span>
					</a>
				</li>
			<% } %>
		</ul>
		<br>
		<a href="/admin/wards/add" data-transition="slide" data-icon="plus" data-role="button" data-theme="b">Add Ward</a>
	</div>
	<div data-role="footer" data-position="fixed" data-id="admin_footer_panel">
		<div data-role="navbar">
			<ul>
				<li><a href="/admin" data-transition="slide" data-direction="reverse">Index</a></li>
				<li><a href="/admin/users" data-transition="slide" data-direction="reverse">Users</a></li>
				<li><a href="/admin/wards"class="ui-btn-active ui-state-persist">Wards</a></li>
			</ul>
		</div>
	</div>
</div>

<% include ../../footer %>
