<% include ../header %>

<div data-role="page" id="page_patients_add">
	<div data-role="header" data-position="fixed" data-id="user_header_panel">
		<a href="" data-rel="back" data-icon="arrow-l" data-role="button" data-theme="b" data-transition="slide" data-direction="reverse">
			Back
		</a>
		<h1>Add New Patient</h1>
	</div>
	<div data-role="content">
		<script type="text/javascript">
			$('#page_patients_add').bind('pagecreate', function(){
				$("#add_patient_form").die('submit').live('submit', function(e){
					var $this = $(this);
					e.preventDefault();
					$.post($this.attr('action'), $this.serialize(), function(res){
						if (res.status != 0) {
							$('#pop_patients_add').html(res.message).popup('open');
						} else {
							$.mobile.changePage('/', {transition: 'slide', reverse: true, reloadPage: true});
						}
					});
				});
			});
		</script>
		<div data-role="popup" id="pop_patients_add" class="ui-content" data-transition="pop" data-theme="e" data-overlay-theme="a"></div>
		<form id="add_patient_form" action="/patients/add" method="post" data-ajax="false">
			<div data-role="fieldcontain">
				<label for="patient_add_first_name">First Name:</label>
				<input type="text" name="patient_add_first_name" id="patient_add_first_name">
			</div>
			<div data-role="fieldcontain">
				<label for="patient_add_middle_name">Middle Name:</label>
				<input type="text" name="patient_add_middle_name" id="patient_add_middle_name">
			</div>
			<div data-role="fieldcontain">
				<label for="patient_add_last_name">Last Name:</label>
				<input type="text" name="patient_add_last_name" id="patient_add_last_name">
			</div>
			<div data-role="fieldcontain">
				<label for="patient_add_age">Age:</label>
				<input type="range" name="patient_add_age" id="patient_add_age" value="25" min="0" max="150" data-highlight="true">
			</div>
			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal" >
					<legend>Gender:</legend>
					<input type="radio" name="patient_add_gender" id="patient_add_gender_male" value="male" checked="checked" />
					<label for="patient_add_gender_male">Male</label>

					<input type="radio" name="patient_add_gender" id="patient_add_gender_female" value="female"  />
					<label for="patient_add_gender_female">Female</label>
				</fieldset>
			</div>
			<div data-role="fieldcontain">
				<label for="patient_add_ward" class="select">Ward:</label>
				<select name="patient_add_ward" id="patient_add_ward">
					<%
						for (w in wards) {
							%>
								<option value="<%= wards[w].id %>"><%= wards[w].name %></option>
							<%
						}
					%>
				</select>
			</div>
			<br>
			<input type="submit" value="Add" data-transition="pop" data-theme="b" data-icon="plus">
		</form>
	</div>
	<div data-role="footer" data-position="fixed" data-id="user_footer_panel">
		<div data-role="navbar" data-iconpos="top">
			<ul>
				<li><a href="/" data-transition="pop" data-icon="grid">Wards</a></li>
				<li><a href="/tasks/my" data-transition="pop" data-icon="check">Tasks</a></li>
				<li><a href="/patients/my" data-transition="pop" data-icon="star" class="ui-btn-active ui-state-persist">Patients</a></li>
				<li><a href="/users" data-transition="pop" data-icon="search">Users</a></li>
			</ul>
		</div>
	</div>
</div>

<% include ../footer %>
