<% include ../../header %>

<div data-role="page" id="page_admin_users_add">
	<div data-role="header" data-position="fixed" data-id="admin_header_panel">
		<h1>Add New User</h1>
	</div>
	<div data-role="content">
		<script type="text/javascript">
			$('#page_admin_users_add').bind('pagecreate', function(){
				$("#add_user_form").die('submit').live('submit', function(e){
					var $this = $(this);
					e.preventDefault();
					$.post($this.attr('action'), $this.serialize(), function(res){
						if (res.status != 0) {
							$pop = $('#pop_users_admin_add');
							$pop.text('');
							if (res.message) {
								$pop.text(res.message);
							} else {
								$.each(res.errors, function(key, value){
									$pop.append(value.message + '<br>');
								});
							}

							$pop.popup('open');
						} else {
							$.mobile.changePage('/admin/users', {transition: 'slide', reverse: true, reloadPage: true});
						}
					});
				});
			});
		</script>
		<div data-role="popup" id="pop_users_admin_add" class="ui-content" data-transition="pop" data-theme="e" data-overlay-theme="a"></div>
		<form id="add_user_form" action="/admin/users/add" method="post" data-ajax="false">
			<div data-role="fieldcontain">
				<label for="admin_user_add_name">Username:</label>
				<input type="text" name="admin_user_add_name" id="admin_user_add_name">
			</div>
			<div data-role="fieldcontain">
				<label for="admin_user_add_password">Password:</label>
				<input type="password" name="admin_user_add_password" id="admin_user_add_password">
			</div>
			<div data-role="fieldcontain">
				<label for="admin_user_add_password_repeat">Repeat Password:</label>
				<input type="password" name="admin_user_add_password_repeat" id="admin_user_add_password_repeat">
			</div>
			<br>
			<div data-role="fieldcontain">
				<label for="admin_user_add_full_name">Full name:</label>
				<input type="text" name="admin_user_add_full_name" id="admin_user_add_full_name">
			</div>
			<div data-role="fieldcontain">
				<label for="admin_user_add_specialty">Specialty:</label>
				<input type="text" name="admin_user_add_specialty" id="admin_user_add_specialty">
			</div>
			<div data-role="fieldcontain">
				<label for="admin_user_add_phone">Phone:</label>
				<input type="text" name="admin_user_add_phone" id="admin_user_add_phone">
			</div>
			<div data-role="fieldcontain">
				<label for="admin_user_add_bleep">Bleep:</label>
				<input type="text" name="admin_user_add_bleep" id="admin_user_add_bleep">
			</div>
			<br>
			<div data-role="fieldcontain">
				<label for="admin_user_add_isadmin">Is administrator:</label>
				<select name="admin_user_add_isadmin" id="admin_user_add_isadmin" data-role="slider">
					<option value="no">No</option>
					<option value="yes">Yes</option>
				</select>
			</div>
			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal" >
					<legend>Type:</legend>
					<input type="radio" name="admin_user_add_type" id="admin_user_add_type_doctor" value="doctor" checked="checked" />
					<label for="admin_user_add_type_doctor">Doctor</label>

					<input type="radio" name="admin_user_add_type" id="admin_user_add_type_nurse" value="nurse"  />
					<label for="admin_user_add_type_nurse">Nurse</label>
				</fieldset>
			</div>
			<br>
			<input type="submit" value="Add" data-transition="pop" data-theme="b" data-icon="plus">
		</form>
	</div>
	<div data-role="footer" data-position="fixed" data-id="admin_footer_panel">
		<div data-role="navbar">
			<ul>
				<li><a href="/admin" data-transition="slide" data-direction="reverse">Index</a></li>
				<li><a href="/admin/users" class="ui-btn-active ui-state-persist" data-transition="slide" data-direction="reverse">Users</a></li>
				<li><a href="/admin/wards" data-transition="slide">Wards</a></li>
			</ul>
		</div>
	</div>
</div>

<% include ../../footer %>
